html {
    width: 100%;
    height: 100%;
    min-width: 1280px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    color: #333333;
    width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    background: #ffffff;
}

@font-face {
    font-family: 'digifaceWide';
    src: url('../fonts/digifaceWide.ttf');
}

.main-toast{
  background: #ffffff;
  width: 26%;
  border-radius: 8px;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top: 40%;
  left: 37%;
  box-shadow: 0 0 14px #eeeeee;
  z-index: 6000;
}

.ias-noneleft {
    padding-top: 15px
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}


/* header start  */

header {
    background: #f5f3ef;
    height: 29px;
    border-bottom: 1px solid #fcfbfa;
}

header .partner {
    display: inline-block;
    padding-left: 15px;
}

header .dropdown {
    height: 29px;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

header .dropdown-menu {
    background: #f5f3ef;
    min-width: 76px;
    box-shadow: none;
    border: none;
    text-align: center;
}

header .dropdown-menu>li>a {
    color: #999999;
    font-size: 16px;
}

header .icon-location {
    width: 18px;
    margin-right: 3px;
}

header .arrow {
    font-size: 12px;
    margin-left: 7px;
    margin-top: -2px;
}

header .icon-wechat {
    width: 20px;
    margin-right: 6px;
}

header .popover-wrap ul li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}

header .popover-wrap ul li:first-child::after {
    content: '';
    width: 2px;
    height: 16px;
    position: absolute;
    background: #999999;
    right: -2px;
    top: 3px;
}

header ul li a {
    color: #999999;
}

header ul li a:hover {
    color: #999999;
}

.header-qrcode-qby {
    width: 118px;
    height: 118px;
    background: url('../images/qrcode-qby.jpg') no-repeat;
    background-size: cover;
}

.header-qrcode-manager {
    width: 118px;
    height: 118px;
    background: url('../images/qrcode-manager.jpg') no-repeat;
    background-size: cover;
}

.popover-content {
    padding: 5px;
}


/* header end  */


/* navbar start */

.navbar {
    height: 90px;
    margin: 0;
    border-bottom: 1px solid #e3e3e1;
}

.navbar-brand {
    height: auto;
}

.navbar .logo {
    width: 220px;
}

.navbar-nav>li>a {
    color: #5c5c5c;
    font-size: 20px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #ffffff;
    border-color: transparent;
}

.navbar-nav>li.active>a {
    color: #ec6c00;
}

.navbar .contact {
    width: 170px;
    height: 38px;
    border-radius: 20px/50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
}

.navbar .contact .icon-tel {
    width: 22px;
    margin-right: 4px;
}

.navbar .nav>li>a:hover {
    background-color: #ffffff;
    color: #ec6c00
}

.navbar .dropdown .dropdown-menu {
    margin-top: 0;
    border: none;
    box-shadow: 0px 0px 6px #efede9;
}

.navbar .dropdown.open .dropdown-menu {
    display: none;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu {
    padding: 0 7px 10px 7px;
}

.navbar .dropdown-menu li {
    height: 44px;
    box-sizing: content-box;
    border-bottom: 1px dashed #e5e5e5;
}

.navbar .dropdown-menu li a {
    color: #999999;
    line-height: 44px;
    font-size: 18px;
}

.navbar .dropdown-menu li:last-child {
    border: none;
}

.navbar .dropdown-menu>li>a:focus,
.navbar .dropdown-menu>li>a:hover {
    color: #ec6c00;
    text-decoration: none;
    background: none;
}


/* navbar end */


/* footer start */

footer {
    padding: 72px 0 30px;
}

footer .qrcode-wrap {
    margin-top: 25px;
    width: 125px;
    height: 125px;
    background: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

footer .qrcode-wrap img {
    width: 100%;
}

footer .logo {
    width: 226px;
    display: block;
}

footer a {
    display: block;
}

footer .col>a {
    color: #333333;
    padding-bottom: 30px;
}

footer .list-col a {
    color: #999999;
    padding-bottom: 12px;
}

footer .list-col li:last-child a {
    padding-bottom: 0;
}

footer .relation-link-item-wrp{
  padding-top: 80px;
}

footer .relation-link-item{
  margin-right: 15px;
}

footer .relation-link-item a{
  font-size: 14px;
  color: #b1b1b1;
  border-bottom: 1px dashed #b1b1b1;
}

footer .relation-link-item a:hover{
  color: #0f84e1;
  border-bottom: 1px dashed #0f84e1;
}
/* footer end */


/* copyright start */

.copyright p {
    padding: 18px 0 20px;
    border-top: 1px solid #f3f0ea;
}


/* copyright end */


/* fixed-bottom-calculator start */

.fixed-bottom-calculator {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 90px;
    background: #f3f0ea;
    z-index: 1000;
    /* overflow-x: scroll; */
}

.fixed-bottom-calculator .sofa {
    position: absolute;
    top: -58px;
    left: -245px;
}

.fixed-bottom-calculator .calculator {
    padding: 0!important;
}

.fixed-bottom-calculator .row {
    height: 90px;
}

.fixed-bottom-calculator .calculator .calculator-wrap {
    padding: 15px 0!important;
    margin-top: 0!important;
    background: transparent!important;
    border: none!important;
}

.fixed-bottom-calculator .calculator .calculator-wrap .input-wrap {
    background: #ffffff!important;
    border-radius: 8px;
    border: 1px solid #e5e5e5!important;
    height: 60px;
    width: calc(100% - 200px);
}

.fixed-bottom-calculator .calculator .item:first-of-type {
    width: 190px!important;
}

.fixed-bottom-calculator .calculator .item:nth-of-type(2) {
    width: 216px!important;
}

.fixed-bottom-calculator .calculator .item:nth-of-type(3) {
    width: 196px!important;
}

.fixed-bottom-calculator .calculator .item:nth-of-type(4) {
    width: 180px!important;
}

.fixed-bottom-calculator .calculator .has-feedback .form-control {
    padding-left: 40px!important;
}

.fixed-bottom-calculator .calculator .has-feedback .form-control-feedback {
    left: 10px!important;
}

.fixed-bottom-calculator .calculator button {
    width: 180px!important;
    height: 60px!important;
    line-height: 60px!important;
    border-radius: 30px/50%!important;
    border: none!important;
    margin-top: 0!important;
}

.fixed-bottom-calculator .icon-close {
    position: absolute;
    right: -80px;
    top: 23px;
    cursor: pointer;
}


/* fixed-bottom-calculator end */


/* rightbar start */

.fixed-right-bar {
    position: fixed;
    right: 8%;
    top: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.fixed-right-bar .btn-open-redpacket {
    width: 110px;
}

.fixed-right-bar ul {
    border: 1px solid #eaeaea;
    width: 68px;
    margin-top: 10px;
    box-sizing: border-box;
}

.fixed-right-bar ul li {
    width: 68px;
    height: 75px;
    margin-right: 0;
}

.fixed-right-bar ul li a {
    display: block;
    width: calc(100% - 2px);
    height: 100%;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #666666;
    font-size: 14px;
}

.fixed-right-bar ul li:last-of-type {
    border: none;
}

.fixed-right-bar ul li img {
    width: 32px;
    margin-bottom: 5px;
}

.fixed-right-bar ul li:nth-of-type(2) img,
.fixed-right-bar ul li:nth-of-type(3) img {
    width: 24px;
}


/* rightbar end */


/* 弹窗 start */

@keyframes slideInBottom {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutBottom {
    0% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(100%);
    }
}

.slideInBottom {
    animation: slideInBottom .3s ease-in-out 1;
    -webkit-animation: slideInBottom .3s ease-in-out 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.slideOutBottom {
    animation: slideOutBottom .3s ease-in-out 1;
    -webkit-animation: slideOutBottom .3s ease-in-out 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.modal-calculator,
.modal-redpacket,
.modal-contact ,
.modal-bbb{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: .3s;
}

.modal-calculator .calculator-wrap {
    width: 864px;
    height: 524px;
    background: #ffffff;
    font-weight: 500;
    position: relative;
}

.modal-redpacket .contact-wrap {
    width: 864px;
    height: 524px;
    background: #ffffff;
    font-weight: 500;
    position: relative;
}

.modal-bbb .contact-wrap {
  width: 864px;
  height: 491px;
  background: #ffffff;
  font-weight: 500;
  position: relative;
}

.modal-contact .contact-wrap {
    width: 864px;
    height: 452px;
    background: #ffffff;
    font-weight: 500;
    position: relative;
}

.modal-calculator .calculator-wrap .left-wrap {
    width: 60%;
    padding: 74px 52px 0 52px;
}

.modal-redpacket .contact-wrap .left-wrap {
    width: 60%;
    padding: 80px 52px 0 52px;
}
.modal-bbb .contact-wrap .left-wrap {
  width: 60%;
  padding: 80px 52px 0 52px;
}

.modal-contact .contact-wrap .left-wrap {
    padding: 48px 52px 0 52px;
}

.modal-calculator .calculator-wrap .result {
    width: 100%;
    height: 52px;
    line-height: 52px;
    text-align: right;
    padding: 0 12px;
    background: #e1e1e1;
    border-radius: 6px;
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-calculator .calculator-wrap .input-wrap,
.modal-redpacket .contact-wrap .input-wrap,
.modal-contact .contact-wrap .input-wrap,
.modal-bbb .contact-wrap .input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.modal-calculator .calculator-wrap .input-wrap span,
.modal-redpacket .contact-wrap .input-wrap span,
.modal-contact .contact-wrap .input-wrap span,
.modal-bbb .contact-wrap .input-wrap span {
    display: block;
    width: 105px;
}

.modal-calculator .calculator-wrap .input-wrap input,
.modal-redpacket .contact-wrap .input-wrap input,
.modal-contact .contact-wrap .input-wrap input,
.modal-bbb .contact-wrap .input-wrap input {
    width: 100%;
    border-radius: 6px;
    border: 2px solid #f1f1f1;
    padding: 0 11px;
    height: 44px;
}

.modal-calculator .calculator-wrap .input-wrap input::-webkit-input-placeholder,
.modal-redpacket .contact-wrap .input-wrap input::-webkit-input-placeholder,
.modal-contact .contact-wrap .input-wrap input::-webkit-input-placeholder,
.modal-bbb .contact-wrap .input-wrap input::-webkit-input-placeholder {
    color: #c0c0c0;
}

.modal-calculator .calculator-wrap .result .num {
    font-family: digifaceWide;
    font-size: 45px;
}
.modal-calculator .calculator-wrap .result .calculator-gif{
  width: 205px;
  margin-top: -2px;
}

.modal-calculator .calculator-wrap .right-wrap,
.modal-redpacket .contact-wrap .right-wrap,
.modal-contact .contact-wrap .right-wrap,
.modal-bbb .contact-wrap .right-wrap {
    width: 40%;
    position: relative;
}

.modal-calculator .calculator-wrap .right-wrap>img,
.modal-redpacket .contact-wrap .right-wrap>img,
.modal-contact .contact-wrap .right-wrap>img,
.modal-bbb .contact-wrap .right-wrap>img {
    width: 100%;
    height: 100%;
}

.modal-contact .contact-wrap .right-wrap .contact-ways {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 40px 0 0 0;
}

.modal-contact .contact-wrap .right-wrap .contact-ways p {
    text-align: center;
}

.modal-contact .contact-wrap .right-wrap .contact-ways p:first-of-type {
    margin-bottom: 3px;
}

.modal-contact .contact-wrap .right-wrap .contact-ways .qrcode {
    width: 110px;
    margin: 15px calc(50% - 55px) 2px calc(50% - 55px);
}

.modal-calculator .calculator-wrap .btn-calculator,
.modal-redpacket .contact-wrap .btn-contact,
.modal-contact .contact-wrap .btn-contact,
.modal-bbb .contact-wrap .btn-contact {
    width: 410px;
    height: 52px;
    background: linear-gradient(-37deg, rgb(255, 51, 51) 0%, rgb(246, 80, 26) 51%, rgb(236, 108, 0) 100%);
    border-radius: 25px/50%;
    line-height: 52px;
    letter-spacing: 1px;
    cursor: pointer;
}

.mask .btn-modal-close {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    top: -44px;
}


/* 弹窗 end */


/* tab styling start */

.tab-styling {
    text-align: center;
    padding: 10px calc(50% - 600px) 0 calc(50% - 600px);
}

.tab-styling li {
    display: inline-block;
    padding: 0 28px;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #ec6c00;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
}

.nav-tabs>li {
    float: none;
}

.nav-tabs>li>a {
    padding: 0;
    color: #333333;
    margin: 0;
    border: none;
}

.nav-tabs>li>a:hover {
    border: none;
}

.tab-styling li:hover a {
    color: #ec6c00;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.tab-styling li:not(:last-child)::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 24px;
    transform: rotate(30deg);
    background: #333333;
    top: 6px;
    right: -3px;
}

.tab-styling li:hover::after,
.tab-styling li.active::after {
    position: absolute;
    content: '';
    width: 46px;
    height: 4px;
    background: #ec6c00;
    bottom: -8px;
    left: calc(50% - 23px);
    border-radius: 2px/50%;
}


/* tab styling end */

.contact-form-wrap .btn-tab {
    background: #eeeeee;
    border-radius: 5px;
    text-align: center;
    width: 160px;
    height: 54px;
    line-height: 54px;
    color: #999999;
}

.contact-form-wrap .btn-tab:hover {
    cursor: pointer;
}

.contact-form-wrap .btn-tab.active {
    background: #ec6c00;
    color: #ffffff;
}

.contact-form-wrap .form-wrap input {
    width: 100%;
    height: 45px;
    background: #eeeeee;
    border-radius: 5px;
    line-height: 50px;
    border: none;
    margin-bottom: 10px;
    padding: 0 16px;
}

.contact-form-wrap .form-wrap input::-webkit-input-placeholder {
    color: #c0c0c0;
}

.contact-form-wrap .form-wrap .btn-contact {
    height: 60px;
    width: 100%;
    border-radius: 28px/50%;
    line-height: 60px;
}

.btn-open-contact,
.btn-open-calculator {
    cursor: pointer;
}

.content-list-wrap {
    padding: 50px 0 65px 0;
}

.right-bar .contact-form-wrap {
    padding: 15px;
}

.column-title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.column-title::after {
    content: '';
    width: 88px;
    height: 2px;
    background: #ec6c00;
    position: absolute;
    bottom: 0;
    left: 0;
}

.column-title .fa {
    padding-right: 5px;
}

.btn-loading-more {
    display: inline-block;
    width: 266px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #e5e5e5;
    margin-top: 60px;
    margin-left: 58%;
    color: #333333;
    cursor: pointer;
}

.btn-loading-more:hover,
.btn-loading-more:focus {
    color: #333333;
}

.right-recommond-list {
    padding: 0 15px;
    margin-top: 50px;
}

.right-recommond-list .column-title {
    height: 40px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.right-recommond-list .column-title a {
    display: inline-block;
}

.right-recommond-list .column-title a:focus,
.right-recommond-list .column-titlee a:hover {
    color: #999999;
}

.right-recommond-list .column-title a .fa {
    padding-left: 6px;
}

.right-recommond-list .item {
    margin-bottom: 10px;
}

.right-recommond-list .item a {
    width: 100%
}

.entrance-wrap {
    padding: 35px 0;
}

.entrance-wrap .item {
    position: relative;
    display: block;
    cursor: pointer;
}

.entrance-wrap .item .btn-entrance {
    display: block;
    width: 50px;
    height: 30px;
    border: 1px solid #f0a944;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 32px;
    bottom: 30px;
}

.entrance-wrap .item .btn-entrance>img {
    width: 20px;
}


/* 样板间列表 start */

.price-origin {
    text-decoration: line-through;
}

.tp-wrap .left-list-wrap .item {
    margin-bottom: 30px;
    overflow: auto;
}

.tp-wrap .left-list-wrap .item:last-of-type {
    margin: 0;
}

.tp-wrap .left-list-wrap .item .tp-cover {
    width: 62.5%;
    position: relative;
}

.tp-wrap .left-list-wrap .item .tp-cover .styling-label {
    position: absolute;
    width: 84px;
    height: 84px;
    background: #ec6c00;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    left: 10px;
    top: 10px;
}

.tp-wrap .left-list-wrap .item .styling-label.label-size4 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

.tp-wrap .left-list-wrap .item .styling-label.label-size4>span {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
}

.tp-wrap .left-list-wrap .item .styling-label.label-size3 {
    line-height: 84px;
    text-align: center;
}

.tp-wrap .left-list-wrap .item .tp-info {
    background: #faf8f4;
    width: 37.5%;
    padding: 10px 30px 0 24px;
}

.tp-wrap .left-list-wrap .item .tp-price {
    border-top: 1px solid #e6e6e6;
}

.tp-wrap .left-list-wrap .item .price-origin {
    margin-top: -3px;
}

.tp-wrap .left-list-wrap .item .btn-wrap a {
    display: inline-block;
    width: 115px;
    height: 40px;
    border-radius: 16px/50%;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
}

.tp-wrap .left-list-wrap .item .btn-wrap a:first-child {
    border: 1px solid #eaeaea;
}

.tp-wrap .left-list-wrap .item .btn-wrap a:first-child:hover,
.tp-wrap .left-list-wrap .item .btn-wrap a:first-child:focus {
    color: #666666
}

.tp-wrap .left-list-wrap .item .btn-wrap a:last-child:hover,
.tp-wrap .left-list-wrap .item .btn-wrap a:last-child:focus {
    color: #ffffff
}

.tp-wrap .right-bar {
    border: 1px solid #e5e5e5;
    padding-bottom: 20px;
}


/* 样板间列表 end */

.tp-header {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 5px;
}

.tp-header .price-origin {
    display: inline-block;
    padding-left: 35px;
}

.inclusion .label,
.tp-info .label {
    color: #999999;
    background: none;
    font-size: 18px;
    padding: 4px 0;
}

.inclusion {
    padding: 15px 0
}

.inclusion li {
    display: inline-block;
    color: #0f84e1;
    background: rgb(239, 243, 246);
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 6px 9px 0;
}


/* calculator start */

.calculator {
    padding-top: 40px;
}

.calculator .calculator-wrap {
    background: #f3f0ea;
    padding: 10px 20px 10px 20px;
}

.calculator .has-feedback .form-control-feedback {
    left: 22px;
    color: #999999;
    font-size: 15px;
}

.calculator .calculator-wrap .input-wrap {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    height: 60px;
    width: calc(100% - 200px);
}

.calculator .has-feedback .form-control {
    padding-left: 52px;
    padding-right: 16px;
}

.calculator .item {
    flex-shrink: 0;
    position: relative;
}

.calculator .item:not(:last-of-type) {
    border-right: 1px solid #dcdcdc;
}

.calculator .item:first-of-type {
    width: 114px;
}

.calculator .item:nth-of-type(2) {
    width: 216px;
}

.calculator .item:nth-of-type(3) {
    width: 218px;
}

.calculator .item:nth-of-type(4) {
    width: 226px;
}

.calculator .item:nth-of-type(5) {
    width: 184px;
    height: 34px;
}

.calculator .form-group,
.calculator input,
.calculator .form-control {
    margin: 0;
    border: none;
    box-shadow: none;
}

.calculator input::-webkit-input-placeholder {
    color: #999999;
    font-size: 16px;
}

.calculator .result {
    height: 34px;
    line-height: 34px;
    padding-left: 52px;
    padding-right: 30px;
    text-align: right;
}

.calculator .result .num {
    color: #333333;
    display: none;
}
.calculator-wrap .result .num {
  display: none;
}
.calculator .result .calculator-gif{
  width: 64px;
  margin-top: -2px;
  clip-path: polygon(1px 1px,calc(100% - 1px) 1px ,calc(100% - 1px) calc(100% - 1px),1px calc(100% - 1px));
}

.calculator button {
    width: 180px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px/50%;
    border: none;
}


/* calculator end */

.nav-tabs {
    border-bottom: none;
}


/* 样板间详情 start */

.tp-detail-wrap .tp-summary {
    padding: 45px 0 50px 0;
}

.tp-detail-wrap .tp-summary h3 {
    margin-top: 14px;
}

.tp-detail-wrap .tp-summary .btn-wrap a {
    display: inline-block;
    width: 142px;
    height: 40px;
    border-radius: 18px/50%;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
}

.tp-detail-wrap .tp-summary .btn-wrap a:hover {
    color: #ffffff;
}


/* 样板间详情start 分类样式复制移动版*/

.tp-type-category {
    height: 19px;
    line-height: 19px;
    padding: 0 10px;
    display: inline-block;
    margin: 0 9px 0 6px;
    border-radius: 9px/50%;
    /*background: #ef3434;*/
}

.tp-detail-wrap .lab a {
    color: #333333;
}


/*.tp-detail-wrap .tp-summary .btn-wrap a:first-child {*/


/*    background: #eb6100;*/


/*    color: #ffffff;*/


/*}*/


/*.tp-detail-wrap .tp-summary .btn-wrap a:last-child {*/


/*    background: #d5d5d5;*/


/*    color: #666666;*/


/*}*/


/*样板间详情 end */

.tp-detail-wrap .calculator {
    padding: 0 0 50px 0;
}

.tp-detail-wrap .calculator .form-wrap {
    background: url(../images/bg-form.png) no-repeat;
    background-size: 100% 100%;
    padding: 65px 15px 12px 15px;
}

.tp-detail-wrap .calculator .calculator-wrap {
    background: none;
    padding: 0;
    margin: 25px 0 0 0;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
}

.tp-detail-wrap .calculator .calculator-wrap .input-wrap {
    background: none;
    border: none;
}

.tp-detail-wrap .calculator button {
    width: 194px;
    height: 48px;
    line-height: 48px;
    margin-top: 6px;
    border-radius: 22px/50%;
    margin-right: 6px;
}

.tp-detail-wrap .calculator .item:first-of-type {
    width: 185px;
}

.tp-detail-wrap .calculator .item:nth-of-type(2) {
    width: 200px;
}

.tp-detail-wrap .calculator .item:nth-of-type(3) {
    width: 190px;
}

.tp-detail-wrap .calculator .item:nth-of-type(4) {
    width: 180px;
}

.tp-detail-wrap .calculator .result {
    padding-right: 18px;
}

.tp-detail-wrap .calculator .has-feedback .form-control {
    padding-left: 43px;
    padding-right: 16px;
}

.tp-detail-wrap .calculator .has-feedback .form-control-feedback {
    left: 12px;
}

.tp-detail-wrap .advantage {
    padding: 70px 0 50px;
    background: url(../images/bg-tp-detail1.jpg) no-repeat;
    background-size: cover;
}

.tp-detail-wrap .advantage .item {
    /* background: rgba(228, 120, 29, 1); */
    position: relative;
    overflow: hidden;
}

.tp-detail-wrap .advantage .item:hover .item-footer {
    opacity: 0;
}

.tp-detail-wrap .advantage .item:hover .item-header {
    transform: translateY(0);
}

.tp-detail-wrap .advantage .item .item-footer {
    position: absolute;
    width: 100%;
    height: 34%;
    left: 0;
    bottom: 0;
    padding: 0 10px 13px 10px;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to top, rgba(47, 47, 47, .8) 5%, transparent 100%);
    transition: all .3s;
}

.tp-detail-wrap .advantage .item .item-header {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(242, 100, 8, .82);
    padding: 14px 10px;
    transform: translateY(290px);
    transition: all .3s;
}

.tp-detail-wrap .advantage .item .item-header::after {
    position: absolute;
    content: '';
    width: 46px;
    height: 2px;
    background: #ffffff;
    top: 58px;
}

.tp-detail-wrap .advantage .item .item-footer::after {}

.tp-detail-wrap .params {
    padding: 65px 0 35px;
}

.tp-detail-wrap .params .tp-cover {
    position: relative;
}

.tp-detail-wrap .params .tp-cover .btn-params-prev,
.tp-detail-wrap .params .tp-cover .btn-params-next {
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    top: 46%;
}

.tp-detail-wrap .params .tp-cover .btn-params-prev {
    left: 5px;
}

.tp-detail-wrap .params .tp-cover .btn-params-next {
    right: 5px;
}

.tp-detail-wrap .params .tp-cover .tag {
    position: absolute;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, .9);
    font-size: 14px;
    color: #666666;
    padding: 2px 7px;
    left: 6px;
    top: 7px;
}

.tp-detail-wrap .params .tab-pane li {
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0;
}

.tp-detail-wrap .params .tab-pane li:last-of-type {
    border: none;
}

.tp-detail-wrap .params .tab-pane .icon {
    width: 20px;
    margin-right: 13px;
}

.tp-detail-wrap .params .tab-pane .label {
    color: #666666;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin-right: 13px;
}

.tp-detail-wrap .params .tab-pane .content {
    letter-spacing: -0.5px;
}

.tp-detail-wrap .desgin {
    padding: 65px 0 57px;
    background: #f9f8f4;
}

.tp-detail-wrap .desgin-img {
    padding: 0 15px;
}

.tp-detail-wrap .desgin-img p {
    width: 100%;
}

.tp-detail-wrap .desgin-img p>img {
    width: 100%;
}

.tp-detail-wrap .params .btn-open-contact {
    width: 438px;
    height: 60px;
    line-height: 60px;
    border-radius: 28px/50%;
    margin-left: calc(50% - 219px);
}

.tp-detail-wrap .brand {
    padding: 55px 0 75px;
}


/* 样板间详情 end */


/* 装修学院 start 新闻 start */

.icon-eye {
    display: flex;
    align-items: center;
}

.icon-eye img {
    width: 20px;
    padding-right: 5px;
}

.article-wrap,
.news-wrap {
    background: #f8f8f8;
}

.article-wrap .left-list-wrap,
.news-wrap .left-list-wrap {
    padding: 0;
}

.left-list-wrap .column-title a {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    color: #333333;
}

.left-list-wrap .nav {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    background: #ffffff;
    padding: 15px 15px 0 15px;
}

.left-list-wrap .nav>li {
    margin-right: 20px;
}

.left-list-wrap .nav>li>a {
    padding: 0 0 10px 0;
    color: #333333;
}

.left-list-wrap .nav>li>a:hover {
    background: none;
}

.left-list-wrap .column-header .nav>li.active>a {
    color: #ec6c00;
}

.left-list-wrap .column-header .nav>li.active::after {
    content: '';
    width: 88px;
    height: 2px;
    background: #ec6c00;
    position: absolute;
    bottom: 0;
    left: 0;
}

.article-wrap .left-list-wrap .column-header .nav>li.active::after {
    width: 120px;
}

.article-wrap .right-bar,
.news-wrap .right-bar {
    background: #ffffff;
}

.article-wrap .left-list-wrap .item,
.news-wrap .left-list-wrap .item {
    background: #ffffff;
    margin-bottom: 0;
    overflow: auto;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 15px;
}

.article-wrap .left-list-wrap .item:hover,
.news-wrap .left-list-wrap .item:hover {
    background: #f8f8f8;
}

.article-wrap .left-list-wrap .item:last-of-type,
.news-wrap .left-list-wrap .item:last-of-type {
    border: none;
}

.article-wrap .left-list-wrap .item .article-cover,
.news-wrap .left-list-wrap .item .news-cover {
    width: 215px;
}

.article-wrap .left-list-wrap .item .article-info,
.news-wrap .left-list-wrap .item .news-info {
    width: calc(100% - 220px);
    padding-left: 20px;
}

.article-wrap .left-list-wrap .item .title,
.news-wrap .left-list-wrap .item .title {
    display: block;
    color: #333333;
    font-weight: 600;
    margin-bottom: 12px;
    cursor: pointer;
}

.article-wrap .left-list-wrap .item .desc,
.news-wrap .left-list-wrap .item .desc {
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 0;
}

.article-wrap .right-bar,
.article-detail-wrap .right-bar,
.news-wrap .right-bar,
.news-detail-wrap .right-bar {
    padding-bottom: 30px;
}

.right-bar .tp-list .item {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

.right-bar .tp-list .item:last-of-type {
    margin: 0;
}

.right-bar .tp-list .item .item-cover {
    position: relative;
}

.right-bar .tp-list .item .title {
    position: absolute;
    width: 100%;
    padding: 0 9px;
    bottom: 6px;
    left: 0;
}

.right-bar .tp-list .tp-price {
    align-items: baseline;
}

.right-bar .tp-list .tp-price .price-origin {
    padding-left: 20px;
}

.article-wrap footer,
.news-wrap footer,
.article-wrap .copyright,
.article-wrap .copyright {
    background: #f8f8f8;
}


/* 装修学院 end 新闻 end*/


/* 装修学院详情  新闻详情 start */

.news-detail-wrap .right-bar,
.article-detail-wrap .right-bar {
    border: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

.detail-content-wrap {
    padding: 50px 0 180px 0;
}

.detail-content-wrap .detail-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.detail-rich-text {
    padding: 25px 0 60px;
    color: #666666;
}

.detail-rich-text img {
    width: 100%;
}

.relative-content-wrap .column-title::after {
    width: 78px;
}

.relative-content-wrap .item {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.relative-content-wrap .item:first-of-type {
    padding-top: 0;
    border: none;
}

.relative-content-wrap .item .cover {
    width: 215px;
}

.relative-content-wrap .item .desc-info {
    width: calc(100% - 235px);
    margin-left: 20px;
}

.relative-content-wrap .item .title {
    color: #333333;
    margin-top: 0;
}

.relative-content-wrap .item .desc {
    margin: 0;
}


/* 装修学院详情  新闻详情 end */


/* 百姓口碑 start */

.comment-wrap .left-list-wrap .nav {
    padding: 0;
}

.realcomment-list {
    width: calc(100% + 20px);
}

.realcomment-list .item {
    border: 1px solid #e5e5e5;
    width: calc(33.3% - 20px);
    margin: 0 20px 20px 0;
}

.comment-wrap .left-list-wrap .column-title::after {
    content: '';
    width: 0;
    height: 0;
}

.comment-wrap .left-list-wrap .column-title a {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    color: #333333;
}

.comment-wrap .left-list-wrap .column-title a.active {
    color: #ec6c00;
}

.comment-wrap .left-list-wrap .column-title a.active:after {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: #ec6c00;
}

.comment-wrap .left-list-wrap .column-title::after {
    width: 120px;
}

.comment-wrap .content-list-wrap {
    padding-bottom: 150px;
}

.comment-wrap .left-list-wrap {
    padding-top: 15px;
}

.realcomment-list {
    position: relative;
    padding-top: 17px;
}

.realcomment-list .btn-loading-more {
    position: absolute;
    bottom: -80px;
}

.pannant-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 17px;
}

.pannant-list .item {
    width: calc(33.33% - 20px);
    border-radius: 5px;
    margin-bottom: 30px;
}


/* 如果最后一行是2个元素 */

.pannant-list .item:last-of-type:nth-child(3n - 1) {
    margin-right: calc(33.33% - 20px + 30px);
}


/* 百姓口碑 end */


/* 线下门店 start*/

.store-wrap footer .container,
.store-wrap .copyright .container {
    width: 1014px;
}

.store-wrap .store-list {
    padding: 60px 0 100px;
}

.store-wrap .store-list .item {
    margin-bottom: 30px;
}

.store-wrap .store-list .item:last-of-type {
    margin: 0;
}

.store-wrap .store-list .item .store-cover {
    width: 306px;
    height: 190px;
}

.store-wrap .store-list .item .store-info {
    width: calc(100% - 306px);
    padding-left: 30px;
}

.store-wrap .store-list .item .store-name {
    position: relative;
}

.store-wrap .store-list .item .store-name::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 25px;
    left: -30px;
    top: 0;
    background: #ec6c00;
}

.store-wrap .store-list .item .btn-open-contact {
    width: 224px;
    height: 46px;
    background: #ec6c00;
    border-radius: 20px/50%;
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: #ffffff;
}

.store-wrap .store-list .item .btn-shake-wrap {
    padding-top: 0;
}


/* 线下门店 end*/

@media (max-width:1440px) {
    .fixed-right-bar {
        right: 0.5%
    }
    .fixed-bottom-calculator .sofa {
        position: absolute;
        top: -16px;
        left: -147px;
        width: 147px;
    }
    .fixed-bottom-calculator .icon-close {
        right: -50px;
    }
}

@media (max-width:1280px) {
    .fixed-bottom-calculator .sofa {
        display: none;
    }
    .fixed-bottom-calculator .icon-close {
        width: 30px;
        right: -17px;
        top: 30px
    }
}